<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "JV_profile_pic.jpeg", width: 300, alt: "profile image" %>
	</div>

	<div class="col-md-8">
			<p>Lorem ipsum</p>
	</div>
</div>


